// COLORS
$sea-green: #2ecc71;
$pure-white: #fff;
$pure-black: #000;
$grey: #f1f2f3;
$tomato: #f53b57;

// BUTTONS
$btn-sm: 80px;
$btn-lg: 160px;

// INPUTS
$input-sm: 100px;
$input-md: 130px;
$input-lg: 220px;
